<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
<h1>Add Customer</h1>
<form action="/items/addByFormReceival" method="post">
    <label for="itemName">Item name:</label><br>
    <input type="text" id="itemName" name="itemName" value=""><br>
    <label for="price">Price: </label> <br>
    <input type ="text" id="price" name="price" value=""><br><br>
    <input type="submit" value="submit">
</form>

</body>
</html>
