<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center" th:text="${itemTitle}"></h1>
    <div class="allItems" th:unless="${#lists.isEmpty(allItems)}">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th th:text="${itemName}"></th>
                <th th:text="${itemPrice}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${allItems}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

